/* This adds styling to all code inside the <body> tags */
body {
  background: rgb(20, 20, 20);
  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 10px;
}

/* This adds styling to all <h1> tags. */
h1 {
  color: rgb(138, 206, 106);
}

/* # is an id selector and adds styling to all tags with this id name */
#imgID {
  width: 100px;
}

/* . is a class selector and adds styling to all tags with this class name */
.infoBox {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgb(61, 61, 61);
  margin: 5px;
  max-width: 55%;
  min-width: fit-content;
}

.Basics {
  background-color: rgb(49, 45, 38);
}
.Copy {
  background-color: rgb(33, 39, 33);
}

.Tags {
  background-color: rgb(37, 37, 47);
}

a {
  color: yellow;
}
a:hover {
  color: rgb(31, 232, 247);
}
